@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(250,150,205,1) 43%, rgba(148,187,233,1) 100%);
}

.box{
    display: flex;
    background-color: black;
    color: white;

    border-radius: 40px;

    margin: 5%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}
.heads{
    font-size: 3rem;
    font-family: "Truculenta", sans-serif;
}
li{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    font-family: "Truculenta", sans-serif;
}

.box1{
    margin: 5%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
img{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding:10px;
}