*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    
    }
    body{
        background: rgb(224,170,255);
        background: linear-gradient(90deg, rgba(224,170,255,1) 0%, rgba(199,125,255,1) 43%, rgba(157,78,221,1) 100%);
    }
    
    img{
    height: 100%;
    width: 100%;
    
    }
    .container{
      max-width: 1200px;
      margin-top: 0;
      margin: 0 auto;
      display: flex;
    
    }
    .leftDiv{
    padding: 1rem;
    margin-top: 300px;
    
    }
    .rightDiv{
      padding: 1rem;
      margin-top: 150px;
    }
    .ig{
        height: 500px;
        width:400px;
      border-radius: 20px;
    }
    .ig:hover{
        transform: scale(1.1);
        transition: 1s ;
    }
    
    .para{
    font-size:large ;
    font-family: arial;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .button{
    border-radius:  40px;
    background-color: rgb(100, 4, 164);
    height: 50px;
    width: 150px;
    border: none;
    
    
    }
    .marginbutton{
    margin-left: 100px;
    margin-top: 20px;
    
    }
    #btn1{
      margin-left: 0;
      margin-right: 20px;
    }
    #btn1:hover{
      box-shadow: 0px 0px 15px 10px #501a52;
      background-color: transparent;
    }
    #btn2:hover{
      box-shadow: 0px 0px 15px 10px #501a52;
      background-color: transparent;
    }